@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
    scroll-behavior:smooth
}

body{
    background:#050b18;
    color:#fff;
    line-height:1.6;
}

/* ==========section header========== */
header{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:rgba(0,0,0,.85);
    backdrop-filter:blur(8px);
    z-index:1000;
    border-bottom:1px solid #0ea5e9;
    height:120px;
}
.logo{
    font-size:1.5rem;
    font-weight:bold;
    color:#38bdf8
}

nav a{
    margin-left:25px;
    color:#fff;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
    padding: 0px 10px;
}

nav a:hover{
    color:#38bdf8
}


/* ==========section hero========== */
section{
    padding:100px 10%;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:linear-gradient(135deg,#020617,#0c4a6e);
}

.hero h1{
    font-size:4rem;
    color:#38bdf8;
}
.hero h2{
    font-size:2rem;
    margin:15px 0;
}

.description1{
    max-width:610px;
    color:#cbd5e1;
    font-size:1.2rem;
}

.butons{
    display: flex;
    gap: 25px;
}

.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 25px;
    background:#38bdf8;
    color:#000;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-4px);
    box-shadow:0 0 20px #38bdf8;
}

.container1{
    position: relative;   
    width:450px;
    height:450px; 
    background:linear-gradient(135deg,#020617,#0c4a6e);
    overflow: hidden;
    border-radius: 50%;
}

.container1:before{
    position: absolute;  
    content: ""; 
    width:420px;
    height:420px; 
    background-color: #38bdf8;
    border-radius: 50%;
    top: -50%;
    left: -50%;
    animation: animate 7s linear infinite;
    transform-origin: bottom right;
}

.container1:after{
    position: absolute;  
    content: ""; 
    width:420px;
    height:420px; 
    background-color: #38bdf8;
    border-radius: 50%;
    top: -50%;
    left: -50%;
    animation: animate 7s linear infinite;
    transform-origin: bottom right;
    animation-delay: 3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.form1{
    position: absolute;
    inset: 8px; /* espace entre bord animé et image */
    background: linear-gradient(135deg,#020617,#0c4a6e);
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1 img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* remplit le cercle */
    border-radius: 50%;
}


/* ==========section a propos========== */
.apropos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    padding:110px 10%;
}

.container2{
    position: relative;   
    width:450px;
    height:450px; 
    background:#0c4a6e;
    overflow: hidden;
    border-radius: 90px;
}

.form2{
    position: absolute;
    inset: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.form2 img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.right{
    padding: 0px 1%;
}

h3{
    text-align:center;
    font-size:2.5rem;
    color:#38bdf8;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

.description2{
    font-size: 20px;
    line-height: 36px;
}

.btn-read-more{
    margin-top: 25px;
    padding: 12px 20px;
    background:#38bdf8;
    color:#000;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
    display: block;
    width: fit-content;
    margin: 25px auto 0;
}

.btn-read-more:hover{
    transform:translateY(-4px);
    box-shadow:0 0 20px #38bdf8;
}






















































































/* ==========section footer========== */
footer{
    padding:30px;
    text-align:center;
    background:#000;
    border-top:1px solid #38bdf8
}

footer a{
    margin:0 15px;
    color:#38bdf8;
    text-decoration:none
}

@media(max-width:768px){
    header{flex-direction:column;gap:15px}
    nav a{margin:0 10px}
    .hero h1{font-size:2.5rem}
    .hero h2{font-size:1.4rem}
}
  